@font-face {
  font-family: 'Colus';
  src: url('../fonts/Colus-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Colus-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Colus-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Colus-Regular.ttf')  format('truetype') /* Safari, Android, iOS */
}

body {
  margin: 0px;
  overflow: hidden;
  max-height: 100vh;
}

#background-div {
    position: relative;
}

#foreground-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}